name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
    - name: Run tests
      run: |
        xcodebuild -scheme SemVer test -enableCodeCoverage YES -parallel-testing-enabled YES
        bash <(curl -s https://codecov.io/bash) -X xcodellvm
      env:
        CODECOV_TOKEN: 27403835-2528-4c01-8447-21010aec4caf
